INTELIGENTE_ACADEMY_JWT_SECRET=substitua_este_valor_pela_chave_secreta
INTELIGENTE_ACADEMY_MAIL_PASSWORD=substitua_este_valor_pela_senha_do_email
INTELIGENTE_ACADEMY_MAIL_USERNAME=substitua_pelo_email_de_envio

SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/inteligente_academy
SPRING_DATASOURCE_USERNAME=utfpr
SPRING_DATASOURCE_PASSWORD=utfpr

POSTGRES_DB=inteligenteacademy
POSTGRES_USER=utfpr
POSTGRES_PASSWORD=utfpr